<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheet/main.css">
    <title>Suger Rush</title>
  </head>
  <body>
    <div class="container1 ">
      <div class="row d-flex justify-content-between">
        <div class="col-sm-12 col-md-10">
          <img src="https://image.freepik.com/free-vector/cupcake-logo-design_9845-141.jpg" id = "main_logo" class = "img-fluid" alt="logo">
          <img src="https://freesvg.org/img/1497791035.png" class = "img-fluid d-none d-md-inline" id="ribbon" alt="ribbon">
          <p class="d-none d-md-block">Suger & Spice</p>
        </div>
        <div class=" col-md-2 d-none d-md-block mt-auto" id ="logIn">
          <a href=""><i class="far fa-user fa-lg "> log in</i></a>
        
        </div>
      </div>
    </div>
    <div class="container d-none d-md-block">
      <nav class="navbar navbar-light bg-none ">
        <form class="form-inline" id = "navButton">
          <button class="btn btn-outline-success"  type="button">Home</button>
          <button class="btn btn-outline-success" type="button">About Us</button>
          <button class="btn btn-outline-success" type="button">Menu</button>
          <button class="btn btn-outline-success" type="button">Order Online</button>
          <button class="btn btn-outline-success" type="button">Contact</button>
        </form>
      </nav>
    </div>

    
    
